<% unless @alumnos.blank? %>
	contenido = "<%= escape_javascript(render 'listado') %>"
<% else %>
 	contenido = "<h3>No se encontraron alumnos</h3><a href='alumnos'>Volver al listado</a>"
<% end %>

$("#listado_alumnos").html(contenido);